/* Appends a psuedo element after element which clears the floats */
@mixin clearfix {  
  &::after {
      content: "";
      display: table;
      clear: both;
  }
}

/* To center divs when needed */
@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Media Queries */
/*
  Breakpoints Desktop First / Params (so utilizing max width instead of min width):
    - 600px (phone)
    - 900px (tab-port)
    - 1200px (tab-land)
    - 1800px (desktop)
*/

// using em instead of rem because of better browser support for media queries
//1 em = 16px
@mixin respond($breakpoint){

  //600px
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em){  //@content allows us to pass a block of code into a mixin
      @content 
    };
  } 

  //900px
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em){  //@content allows us to pass a block of code into a mixin
      @content 
    };
  } 

  //1200px
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em){  //@content allows us to pass a block of code into a mixin
      @content 
    };
  } 

  //1800px
  @if $breakpoint == desktop {
    @media only screen and (max-width: 112.5em){  //@content allows us to pass a block of code into a mixin
      @content 
    };
  } 
}