*,
*::after,
*::before{
  /* Allowing us to start clean*/
  margin: 0;
  padding: 0;
  /* Added so that borders and paddings are not added to total width or height to box*/
  box-sizing: inherit; /* Tells each element to inherit whatever border box property we set in the body element below (border-box)*/
}

html {
  font-size: 62.5%; /* Strategy based on system default of 16px to adjust for rem later - global ~ not typography */

  // start with larger first because logic is last true will compile as each one runs (desktop first at least, mobile is opposite)
  @include respond(desktop){
    font-size: 75%;  // Want 12 pixels -> default above is 1 rem = 16px -> 12/16 = 75
  }
  @include respond(tab-land){  //width < 1200?
    font-size: 56.25%;  // Want 9 pixels -> default above is 1 rem = 16px -> 9/16 = 56.25%
  }
  @include respond(tab-port){  //width < 900?
    font-size: 50%;  // Want 8 pixels -> default above is 1 rem = 16px -> 8/16 = 50%
  }
  @include respond(phone){
    font-size: 43.75%; // Want 7 pizels -> 7/16 = 43.75%
  }
}

body{
  box-sizing: border-box;
  padding: 4rem;

  @include respond(tab-port){
    padding: 0;
  }

}