body{
  font-family: "Nunito", sans-serif;
  line-height: 1.7;
  color: $color-grey-dark; /* Font color */
  padding: 4rem;
}

.heading-primary {  /* Not component because it's more related to typography */
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden; /* Avoids possible background shakiness with animations */
  margin-bottom: 6rem;

  &--main {  /* Remember that '--main' is the MODIFIER */
    display: block; /* Good here because take up whole width and create new line elements */
    font-size: 6rem;
    letter-spacing: 2rem;
    animation: moveInLeft 1s ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: .5rem;
    font-weight: lighter;
    animation: moveInRight 1s ease-out;
  }
}