.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -15vh;  /* moves background grey up to fix white gap difference with header polygon */
}

.section-features {
  padding: 20rem 0;  /* make sure to have sites have plenty of padding */
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary, 0.8),
    rgba($color-primary-light, 0.8)),
    url(/img/handshake-1.jpg);
    background-size: cover;  /* stretches background image nicely across element */
    margin-top: -12rem;

    transform: skewY(-7deg); /* creates background diagonal tilt */
    
    & > * {  /* selects everything that is a direct child of ALL of .section-features */
      transform: skewY(7deg);  /* adjusts boxes back to horizontal due to section tild of -7 degrees */
    }

}
